.App {
  text-align: center;
  background-color: #fbf4ee;
}

/* Apply media query to all components */
@media (min-width: 394px) {
  .App {
    display: none; /* Hide the entire app container */
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media query for screens with a maximum width of 393px */
@media (max-width: 393px) {
  .App-header {
    /* Adjust the styles for screens with a maximum width of 393px */
  }

  /* Add any other styles specific to this screen size */
}
